<div class="logo">
<h1>Logo goes here!</h1>
</div>

<div class="log_in">
	<h1> Money Talks</h1>
<h3>Login</h3>
<%= form_tag('/sessions', {method: "POST", class: "login-form"}) do %>
  <%= fields_for :user do |s| %>
    <%= s.email_field(:email, :placeholder => "email") %>
    <br />
    <%= s.password_field(:password, :placeholder => "password") %>
    <div><%= s.submit("login") %></div>
  <% end %>
  <% end %>