<section class="usersnew">

	<h1>sign up!</h1>

	<%= form_for @user do |f| %>
		<%= f.text_field :username, :placeholder => "username" %>
		<%= f.email_field :email, :placeholder => "email" %>
		<%= f.password_field :password, :placeholder => "password" %>
		<%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
		<%= f.submit "sign up!" %>
	<% end %>

</section>
