<body id="profile_body">

<div class="profile_info">
<h1><%= @user.name %></h1>
<p>(<%= @user.email %>)</p><br />
</div>
<h1 class="profile_posts"><%= @user.name %>'s Posts</h1>

<div class="blog_posts">
  <% @user.posts.each do |post| %>
  <h3 class="blog_title"><%= link_to post.title, post %></h3>
  <p class="blog_body"><%= post.body %></p>
  <% end %>
</div>