<div class="profile_info">

<h1><%= @user.name %></h1>
<p>(<%= @user.email %>)</p><br />
</p> <%= @user.aboutme %></p>
</div>
<h1 class="profile_posts"><%= @user.name %>'s Posts</h1>

<div class="blog_posts">
  <% @user.posts.each do |post| %>
  <h3 class="blog_title"><%= link_to post.title, post %></h3>
  <p class="blog_body"><%= post.body %></p>
  <% end %>
</div>


<h1 class="profile_back"><%= link_to 'Back', users_path %> </h1>