<% if current_user %>
	<p>Hello <%= current_user.name %> | 
		<%= link_to 'sign out', logout_path, method: :delete %>
			| 
		<%= link_to 'new post', new_post_path %>
	</p>
<% else %>
	<% unless params[:controller] == "users" and params[:action] == "new" %>
		<% unless params[:controller] == "sessions" and params[:action] == "new" %>
			<p><%= link_to 'sign in', signin_path %> | <%= link_to 'sign up', new_user_path %></p>
		<% end %>
	<% end %>
<% end %>