<% if current_user %>
	<p>Hello <%= current_user.name %> | 
		<%= link_to 'sign out', logout_path, method: :delete %>
			| 
		<%= link_to 'new post', new_post_path %>
	</p>
<% else %>
	<div>
	<h3>Sign in</h3>
	<%= form_tag(signin_path, method: :post) do %>
		<%= label_tag %>
		<%= email_field_tag :email, nil, placeholder: 'Email' %>
		<br>
		<%= label_tag %>
		<%= password_field_tag :password, nil, placeholder: 'Password' %>
		<br>
		<button type="button"><%= link_to "Sign up", new_user_path %></button>
		<%= submit_tag "login" %>
	<% end %>
	</div>
	<div>
		<p>New here? Click to <%= link_to 'sign up', new_user_path %></p>
	</div>
<% end %>