<div class="posttopmargin">
<br>


<% if current_user %>
	
<% end %>

<div class="postsbody">
	<h1>Lastest Posts!</h1>
	<ul>
		<% @posts.reverse.each do |post| %>
			<li class="poststyling">
				<div class="posttitle">

				<%= link_to post.title, post_path(post) %> 

				<span id ="timecreated"> <%= post.created_at.strftime("%b. %d %Y") %> </span>

				</div>
				<br>
				<div class="postbodystyling">
				<%= post.body %>
				</div>
				
			
				<div id="spaceme"></div>
			
			</li>
		<% end %>
	</ul>
</div>
<div class="rightnav">
	<div>
		<ul>
			<li id = "returnhome"><p><%= link_to 'Post', posts_path %></p></li>
			<li id = "newpost"><p><%= link_to 'new post', new_post_path %></p></li>
			<li id = "viewprofile"></li>
			<li id = "followusers"></li>
			<li id = "accountsettings"></li>
			<li id = "signout"><%= link_to 'sign out', logout_path, method: :delete %></li>


		</ul>

	</div>
	
</div>

</div>
