<div>
<%= render partial: "./posts/show",
  locals: { post: @post } %>
</div>

<div>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :text, :placeholder => "text"%>
  <%= f.submit "create comment" %>
<% end %>
</div>

<div>
<% if !@comments.empty? %>
  <% @comments.each do |comment| %>
    <ul class="post_comment">
      <li class="comment_text">
        <% if @current_user.id == comment.user_id %>
          <%= form_for [@post, comment] do |f| %>
            <%= f.text_field :text, :placeholder => "text"%>
            <%= f.submit "update comment" %>
          <% end %>
        <% else %>
          <%= "#{ comment.text }" %>
        <% end %>
      </li>
      <li class="comment_author">by <a href=<%= "/users/#{ comment.user_id }" %>> <%= "#{ comment.user.username }" %></a>
      </li>
      <li class="comment_info">last updated <%= "#{ comment.updated_at }" %>
      </li>
      <% if @current_user.id == comment.user_id %>
        <li class="comment_delete"><%= link_to ("delete"), "/posts/#{ @post.id }/comments/#{ comment.id }", method: :delete %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %> 
  <h3>no comments to show! create one above.</h3>
<% end %>
</div>