<div class="blog_detail">
<%= render @post %>
</div>
  <br />
<fieldset class="comment_form">
  <%= form_for [@post, @comment] do |f| %>
    <%= render "/comments/form", f: f %>
   <%- end %>
</fieldset>

  <h2 class="comment_header">Comments</h2>
  <%= render partial: 'comments/comment', collection: @post.comments %>
    


<p> <%= link_to 'Edit Post', edit_post_path(@post)%></p> 
<h1 class="post_back"><%= link_to 'Back', posts_path %></h1>